@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

@layer base {
  :root {
    --text-high-contrast-rgb-value: 0, 255, 255;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --text-body: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --font-body: "Open Sans", sans-serif;
    --font-category: "Montserrat", sans-serif;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
  body {
    background-color: var(--background-site);
    color: var(--text-high-contrast);
    font-size: 1.6rem;
    line-height: 1.65;
    font-family: var(--font-body);
    font-weight: 700;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
/* Scrollbar Styles */
.dialogContainer::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.dialogContainer::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.dialogContainer::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

.dialogContainer::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Color of the scrollbar thumb on hover */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
  }
}

.overlay-container {
  position: relative;
}

.overlay-image {
  z-index: -999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  transition: opacity 0.3s ease-in;
}

.embla {
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem red;
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 4rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem #807239;
  width: 4rem;
  height: 1rem; /* Increase height to create a cylinder effect */
  border-radius: 1rem; /* Change border-radius to half of the height */
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  background: #807239;
}

@keyframes glow-underline {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(1);
  }
}

.glowImg {
  width: 45%;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.category {
  font-family: var(--font-category);
  font-weight: 800;
}

.IconNew {
  width: 20rem;
}

.tag {
  font-size: 10px;
}
.logo {
  max-width: 200px;
  height: 100%;
}
.qrcodeImg {
  max-width: 8rem;
}
.qrcontainer {
  height: 12vh;
}
.screenshotImg {
  height: 100%;
  width: 100%;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .IconNew {
    width: 8em;
    margin-top: -40px;
  }
  .qrcontainer {
    height: 300px;
  }
  .category {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .title-banner {
    font-size: 1.2rem;
  }
  .qrcodeImg {
    width: 8rem;
  }
}

@media only screen and (min-device-width: 1080px) and (max-device-width: 1920px) and (aspect-ratio: 9/16) {
  .logo {
    height: 3rem;
  }
  .backImg {
    width: 10rem;
  }
  html,
  body {
    overflow: hidden;
  }
  .IconNew {
    width: 20rem;
  }
  .category {
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .glowImg {
    top: 2rem;
  }
  .qrcodeImg {
    width: 10rem;
  }

  .qrcontainer {
    height: 240px;
  }

  .tag {
    font-size: 10px;
  }
}

/* 4k and portrait mediaquery */
@media only screen and (min-device-width: 2160px) and (max-device-width: 3840px) and (aspect-ratio: 9/16) {
  .logo {
    height: 8rem;
  }
  .backImg {
    width: 28rem;
  }
  html,
  body {
    overflow: hidden;
  }
  .IconNew {
    width: 40rem;
  }
  .flag {
    width: 3rem;
    height: 3rem;
  }
  .qrcontainer {
    margin-top: 5rem;
  }
  .glowImg {
    top: 4rem;
  }
  .title-banner {
    font-size: 4rem;
  }

  .category {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .slide {
    width: 100vw;
  }
  .qrcodeImg {
    margin-left: 1rem;
  }
  .screenshotImg {
    height: 100%;
    width: 100%;
    max-width: 500px;
  }
}

/* desktop and landscape mediaquery */
@media screen and (min-device-width: 1080px) and (orientation: landscape) {
  .IconNew {
    width: 20rem;
  }
  .screenshotImg {
    height: 100%;
    width: 100%;
    max-width: 500px;
  }
  .qrcodeImg {
    width: 10rem;
  }
  .glowImg {
    top: 0.5rem;
  }
  .category {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .qrcodeImg {
    width: 10rem;
  }
  .slide {
    width: 100vw;
  }
  .qrcontainer {
    height: 350px;
  }
}

/* Ipad MediaQuery */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .IconNew {
    width: 10rem;
  }
  .category {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .title-banner {
    font-size: 1.2rem;
  }
  .qrcodeImg {
    width: 8rem;
  }
  .qrcontainer {
    height: 100px;
  }
}

/* general mediaQuery */
@media screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .IconNew {
    width: 10rem;
  }
  .category {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .title-banner {
    font-size: 1.2rem;
  }
  .qrcodeImg {
    width: 8rem;
  }
}
